{:index 0, :time 16169349286, :type :invoke, :process 0, :f :txn, :value [[:r 2 nil] [:r 2 nil] [:w 2 1] [:w 0 1] [:r 2 nil] [:w 1 1] [:w 2 2]]}
{:index 1, :time 16188254359, :type :ok, :process 0, :f :txn, :value [[:r 2 nil] [:r 2 nil] [:w 2 1] [:w 0 1] [:r 2 1] [:w 1 1] [:w 2 2]]}
{:index 2, :time 16252441515, :type :invoke, :process 1, :f :txn, :value [[:r 2 nil] [:w 2 3]]}
{:index 3, :time 16259617810, :type :ok, :process 1, :f :txn, :value [[:r 2 2] [:w 2 3]]}
{:index 4, :time 16321225925, :type :invoke, :process 2, :f :txn, :value [[:r 1 nil] [:r 1 nil]]}
{:index 5, :time 16327802419, :type :ok, :process 2, :f :txn, :value [[:r 1 1] [:r 1 1]]}
{:index 6, :time 16509974460, :type :invoke, :process 3, :f :txn, :value [[:w 1 2] [:r 2 nil] [:w 1 3] [:w 2 4]]}
{:index 7, :time 16520226299, :type :ok, :process 3, :f :txn, :value [[:w 1 2] [:r 2 3] [:w 1 3] [:w 2 4]]}
{:index 8, :time 16535495140, :type :invoke, :process 4, :f :txn, :value [[:w 0 2] [:r 2 nil] [:r 2 nil] [:r 1 nil] [:w 2 5] [:w 0 3]]}
{:index 9, :time 16545555264, :type :ok, :process 4, :f :txn, :value [[:w 0 2] [:r 2 4] [:r 2 4] [:r 1 3] [:w 2 5] [:w 0 3]]}
{:index 10, :time 16634951187, :type :invoke, :process 5, :f :txn, :value [[:w 2 6] [:r 1 nil] [:r 2 nil] [:r 1 nil]]}
{:index 11, :time 16637544336, :type :invoke, :process 6, :f :txn, :value [[:r 1 nil] [:r 1 nil] [:w 0 4] [:w 1 4]]}
{:index 12, :time 16643570060, :type :ok, :process 5, :f :txn, :value [[:w 2 6] [:r 1 3] [:r 2 6] [:r 1 3]]}
{:index 13, :time 16644081510, :type :ok, :process 6, :f :txn, :value [[:r 1 3] [:r 1 3] [:w 0 4] [:w 1 4]]}
{:index 14, :time 16698903535, :type :invoke, :process 7, :f :txn, :value [[:w 2 7] [:r 0 nil] [:r 1 nil] [:r 0 nil]]}
{:index 15, :time 16707159302, :type :ok, :process 7, :f :txn, :value [[:w 2 7] [:r 0 4] [:r 1 4] [:r 0 4]]}
{:index 16, :time 16856983296, :type :invoke, :process 8, :f :txn, :value [[:r 1 nil] [:w 2 8] [:r 1 nil] [:r 1 nil] [:w 2 9]]}
{:index 17, :time 16866386141, :type :ok, :process 8, :f :txn, :value [[:r 1 4] [:w 2 8] [:r 1 4] [:r 1 4] [:w 2 9]]}
{:index 18, :time 16916727758, :type :invoke, :process 9, :f :txn, :value [[:r 2 nil] [:w 1 5] [:r 2 nil] [:w 2 10] [:r 2 nil] [:w 2 11] [:w 2 12]]}
{:index 19, :time 16925992735, :type :ok, :process 9, :f :txn, :value [[:r 2 9] [:w 1 5] [:r 2 9] [:w 2 10] [:r 2 10] [:w 2 11] [:w 2 12]]}
{:index 20, :time 17099350835, :type :invoke, :process 10, :f :txn, :value [[:w 1 6] [:w 2 13] [:w 0 5] [:w 1 7]]}
{:index 21, :time 17108064832, :type :ok, :process 10, :f :txn, :value [[:w 1 6] [:w 2 13] [:w 0 5] [:w 1 7]]}
{:index 22, :time 17262119062, :type :invoke, :process 11, :f :txn, :value [[:r 2 nil] [:w 0 6] [:r 0 nil]]}
{:index 23, :time 17268821411, :type :ok, :process 11, :f :txn, :value [[:r 2 13] [:w 0 6] [:r 0 6]]}
{:index 24, :time 17302886373, :type :invoke, :process 12, :f :txn, :value [[:w 1 8] [:r 1 nil] [:w 2 14]]}
{:index 25, :time 17309067355, :type :ok, :process 12, :f :txn, :value [[:w 1 8] [:r 1 8] [:w 2 14]]}
{:index 26, :time 17341532944, :type :invoke, :process 13, :f :txn, :value [[:w 0 7] [:w 1 9] [:w 1 10] [:w 1 11] [:r 2 nil] [:w 2 15] [:w 1 12] [:w 2 16]]}
{:index 27, :time 17350354427, :type :ok, :process 13, :f :txn, :value [[:w 0 7] [:w 1 9] [:w 1 10] [:w 1 11] [:r 2 14] [:w 2 15] [:w 1 12] [:w 2 16]]}
{:index 28, :time 17538264862, :type :invoke, :process 14, :f :txn, :value [[:w 2 17] [:w 1 13] [:r 2 nil]]}
{:index 29, :time 17544425730, :type :invoke, :process 15, :f :txn, :value [[:r 0 nil] [:w 2 18] [:r 2 nil] [:w 2 19] [:r 2 nil] [:r 2 nil] [:r 2 nil] [:w 2 20]]}
{:index 30, :time 17545099352, :type :ok, :process 14, :f :txn, :value [[:w 2 17] [:w 1 13] [:r 2 17]]}
{:index 31, :time 17554222271, :type :ok, :process 15, :f :txn, :value [[:r 0 7] [:w 2 18] [:r 2 18] [:w 2 19] [:r 2 19] [:r 2 19] [:r 2 19] [:w 2 20]]}
{:index 32, :time 17571038523, :type :invoke, :process 16, :f :txn, :value [[:r 0 nil] [:r 2 nil] [:w 2 21] [:w 1 14] [:r 0 nil]]}
{:index 33, :time 17577710561, :type :ok, :process 16, :f :txn, :value [[:r 0 7] [:r 2 20] [:w 2 21] [:w 1 14] [:r 0 7]]}
{:index 34, :time 17641009610, :type :invoke, :process 17, :f :txn, :value [[:w 2 22] [:r 1 nil] [:w 2 23]]}
{:index 35, :time 17646626412, :type :ok, :process 17, :f :txn, :value [[:w 2 22] [:r 1 14] [:w 2 23]]}
{:index 36, :time 17701462126, :type :invoke, :process 18, :f :txn, :value [[:r 2 nil] [:w 2 24] [:r 2 nil] [:r 1 nil] [:w 1 15]]}
{:index 37, :time 17708881609, :type :ok, :process 18, :f :txn, :value [[:r 2 23] [:w 2 24] [:r 2 24] [:r 1 14] [:w 1 15]]}
{:index 38, :time 17887355536, :type :invoke, :process 19, :f :txn, :value [[:w 2 25] [:w 2 26] [:w 1 16] [:w 1 17] [:r 2 nil]]}
{:index 39, :time 17894868257, :type :ok, :process 19, :f :txn, :value [[:w 2 25] [:w 2 26] [:w 1 16] [:w 1 17] [:r 2 26]]}
{:index 40, :time 17920590919, :type :invoke, :process 0, :f :txn, :value [[:r 2 nil] [:w 2 27] [:w 0 8]]}
{:index 41, :time 17924343858, :type :ok, :process 0, :f :txn, :value [[:r 2 26] [:w 2 27] [:w 0 8]]}
{:index 42, :time 17928190104, :type :invoke, :process 0, :f :txn, :value [[:w 1 18] [:r 2 nil] [:r 2 nil] [:r 2 nil] [:w 2 28] [:r 2 nil] [:w 1 19]]}
{:index 43, :time 17933962233, :type :ok, :process 0, :f :txn, :value [[:w 1 18] [:r 2 27] [:r 2 27] [:r 2 27] [:w 2 28] [:r 2 28] [:w 1 19]]}
{:index 44, :time 18102270366, :type :invoke, :process 1, :f :txn, :value [[:w 2 29] [:r 1 nil] [:w 1 20]]}
{:index 45, :time 18107853224, :type :ok, :process 1, :f :txn, :value [[:w 2 29] [:r 1 19] [:w 1 20]]}
{:index 46, :time 18159511425, :type :invoke, :process 2, :f :txn, :value [[:w 2 30] [:w 0 9] [:w 2 31] [:w 0 10] [:r 0 nil] [:w 2 32]]}
{:index 47, :time 18166881529, :type :ok, :process 2, :f :txn, :value [[:w 2 30] [:w 0 9] [:w 2 31] [:w 0 10] [:r 0 10] [:w 2 32]]}
{:index 48, :time 18273040833, :type :invoke, :process 3, :f :txn, :value [[:r 1 nil] [:r 2 nil] [:r 2 nil] [:r 2 nil] [:r 1 nil] [:w 1 21]]}
{:index 49, :time 18279499645, :type :ok, :process 3, :f :txn, :value [[:r 1 20] [:r 2 32] [:r 2 32] [:r 2 32] [:r 1 20] [:w 1 21]]}
{:index 50, :time 18349260858, :type :invoke, :process 4, :f :txn, :value [[:r 0 nil] [:r 2 nil] [:w 1 22] [:r 0 nil]]}
{:index 51, :time 18355079991, :type :ok, :process 4, :f :txn, :value [[:r 0 10] [:r 2 32] [:w 1 22] [:r 0 10]]}
{:index 52, :time 18399829460, :type :invoke, :process 5, :f :txn, :value [[:r 1 nil] [:r 2 nil] [:w 3 1] [:w 3 2] [:r 1 nil] [:w 3 3] [:r 3 nil] [:w 3 4]]}
{:index 53, :time 18408565178, :type :ok, :process 5, :f :txn, :value [[:r 1 22] [:r 2 32] [:w 3 1] [:w 3 2] [:r 1 22] [:w 3 3] [:r 3 3] [:w 3 4]]}
{:index 54, :time 18462735721, :type :invoke, :process 6, :f :txn, :value [[:r 1 nil] [:r 1 nil]]}
{:index 55, :time 18466431180, :type :ok, :process 6, :f :txn, :value [[:r 1 22] [:r 1 22]]}
{:index 56, :time 18520287435, :type :invoke, :process 7, :f :txn, :value [[:w 3 5] [:r 3 nil] [:w 3 6] [:r 3 nil] [:w 3 7] [:r 0 nil] [:r 3 nil] [:r 3 nil]]}
{:index 57, :time 18528621494, :type :ok, :process 7, :f :txn, :value [[:w 3 5] [:r 3 5] [:w 3 6] [:r 3 6] [:w 3 7] [:r 0 10] [:r 3 7] [:r 3 7]]}
{:index 58, :time 18539371792, :type :invoke, :process 8, :f :txn, :value [[:w 3 8] [:w 0 11] [:w 3 9] [:w 1 23] [:r 3 nil] [:w 3 10]]}
{:index 59, :time 18546222136, :type :ok, :process 8, :f :txn, :value [[:w 3 8] [:w 0 11] [:w 3 9] [:w 1 23] [:r 3 9] [:w 3 10]]}
{:index 60, :time 18668711035, :type :invoke, :process 9, :f :txn, :value [[:w 1 24] [:r 0 nil] [:r 3 nil]]}
{:index 61, :time 18673909205, :type :ok, :process 9, :f :txn, :value [[:w 1 24] [:r 0 11] [:r 3 10]]}
{:index 62, :time 18716629567, :type :invoke, :process 10, :f :txn, :value [[:w 3 11] [:r 3 nil] [:r 3 nil] [:r 3 nil] [:r 1 nil] [:r 3 nil]]}
{:index 63, :time 18722943178, :type :ok, :process 10, :f :txn, :value [[:w 3 11] [:r 3 11] [:r 3 11] [:r 3 11] [:r 1 24] [:r 3 11]]}
{:index 64, :time 18789440135, :type :invoke, :process 11, :f :txn, :value [[:w 3 12] [:w 1 25] [:r 3 nil] [:w 3 13] [:w 3 14] [:w 0 12]]}
{:index 65, :time 18796726639, :type :ok, :process 11, :f :txn, :value [[:w 3 12] [:w 1 25] [:r 3 12] [:w 3 13] [:w 3 14] [:w 0 12]]}
{:index 66, :time 18967463722, :type :invoke, :process 12, :f :txn, :value [[:r 3 nil] [:w 3 15] [:w 3 16] [:r 1 nil]]}
{:index 67, :time 18973330277, :type :ok, :process 12, :f :txn, :value [[:r 3 14] [:w 3 15] [:w 3 16] [:r 1 25]]}
{:index 68, :time 19003872009, :type :invoke, :process 13, :f :txn, :value [[:r 3 nil] [:r 3 nil] [:w 0 13]]}
{:index 69, :time 19009077793, :type :ok, :process 13, :f :txn, :value [[:r 3 16] [:r 3 16] [:w 0 13]]}
{:index 70, :time 19140530441, :type :invoke, :process 14, :f :txn, :value [[:w 3 17] [:w 3 18] [:w 1 26] [:r 3 nil] [:w 3 19]]}
{:index 71, :time 19146978847, :type :ok, :process 14, :f :txn, :value [[:w 3 17] [:w 3 18] [:w 1 26] [:r 3 18] [:w 3 19]]}
{:index 72, :time 19197776738, :type :invoke, :process 15, :f :txn, :value [[:r 3 nil] [:r 3 nil] [:r 1 nil] [:r 1 nil] [:w 3 20]]}
{:index 73, :time 19203562207, :type :ok, :process 15, :f :txn, :value [[:r 3 19] [:r 3 19] [:r 1 26] [:r 1 26] [:w 3 20]]}
{:index 74, :time 19343754205, :type :invoke, :process 16, :f :txn, :value [[:r 1 nil] [:r 1 nil] [:w 3 21] [:w 1 27]]}
{:index 75, :time 19349626697, :type :ok, :process 16, :f :txn, :value [[:r 1 26] [:r 1 26] [:w 3 21] [:w 1 27]]}
{:index 76, :time 19361116548, :type :invoke, :process 17, :f :txn, :value [[:r 1 nil] [:r 3 nil] [:r 3 nil] [:w 3 22] [:r 3 nil] [:r 0 nil] [:w 3 23]]}
{:index 77, :time 19367628090, :type :ok, :process 17, :f :txn, :value [[:r 1 27] [:r 3 21] [:r 3 21] [:w 3 22] [:r 3 22] [:r 0 13] [:w 3 23]]}
{:index 78, :time 19434852167, :type :invoke, :process 18, :f :txn, :value [[:r 3 nil] [:r 1 nil] [:w 1 28] [:r 3 nil] [:w 3 24]]}
{:index 79, :time 19440662290, :type :ok, :process 18, :f :txn, :value [[:r 3 23] [:r 1 27] [:w 1 28] [:r 3 23] [:w 3 24]]}
{:index 80, :time 19588608242, :type :invoke, :process 19, :f :txn, :value [[:r 3 nil] [:w 1 29] [:r 1 nil] [:w 3 25] [:w 1 30] [:r 1 nil] [:r 3 nil]]}
{:index 81, :time 19596436648, :type :ok, :process 19, :f :txn, :value [[:r 3 24] [:w 1 29] [:r 1 29] [:w 3 25] [:w 1 30] [:r 1 30] [:r 3 25]]}
{:index 82, :time 19775039012, :type :invoke, :process 0, :f :txn, :value [[:w 1 31] [:w 1 32] [:w 3 26] [:r 3 nil] [:w 4 1] [:w 0 14]]}
{:index 83, :time 19781730466, :type :ok, :process 0, :f :txn, :value [[:w 1 31] [:w 1 32] [:w 3 26] [:r 3 26] [:w 4 1] [:w 0 14]]}
{:index 84, :time 19891680772, :type :invoke, :process 0, :f :txn, :value [[:w 0 15] [:r 0 nil] [:r 3 nil] [:r 3 nil]]}
{:index 85, :time 19896887393, :type :ok, :process 0, :f :txn, :value [[:w 0 15] [:r 0 15] [:r 3 26] [:r 3 26]]}
{:index 86, :time 19902927155, :type :invoke, :process 1, :f :txn, :value [[:w 3 27] [:w 4 2] [:w 4 3] [:r 3 nil] [:r 3 nil] [:w 4 4] [:r 4 nil] [:r 4 nil]]}
{:index 87, :time 19909919557, :type :ok, :process 1, :f :txn, :value [[:w 3 27] [:w 4 2] [:w 4 3] [:r 3 27] [:r 3 27] [:w 4 4] [:r 4 4] [:r 4 4]]}
{:index 88, :time 20008586463, :type :invoke, :process 2, :f :txn, :value [[:w 3 28] [:w 3 29] [:r 3 nil] [:r 0 nil]]}
{:index 89, :time 20013822557, :type :ok, :process 2, :f :txn, :value [[:w 3 28] [:w 3 29] [:r 3 29] [:r 0 15]]}
{:index 90, :time 20014825972, :type :invoke, :process 3, :f :txn, :value [[:r 3 nil] [:w 0 16]]}
{:index 91, :time 20018099517, :type :ok, :process 3, :f :txn, :value [[:r 3 29] [:w 0 16]]}
{:index 92, :time 20135578677, :type :invoke, :process 4, :f :txn, :value [[:r 4 nil] [:r 4 nil] [:w 0 17] [:w 3 30]]}
{:index 93, :time 20141009420, :type :ok, :process 4, :f :txn, :value [[:r 4 4] [:r 4 4] [:w 0 17] [:w 3 30]]}
{:index 94, :time 20177326773, :type :invoke, :process 5, :f :txn, :value [[:w 3 31] [:r 0 nil] [:w 4 5] [:w 4 6] [:r 3 nil] [:w 3 32] [:r 3 nil] [:w 4 7]]}
{:index 95, :time 20184548046, :type :ok, :process 5, :f :txn, :value [[:w 3 31] [:r 0 17] [:w 4 5] [:w 4 6] [:r 3 31] [:w 3 32] [:r 3 32] [:w 4 7]]}
{:index 96, :time 20330942047, :type :invoke, :process 6, :f :txn, :value [[:w 5 1] [:w 5 2] [:r 4 nil] [:r 5 nil] [:w 5 3]]}
{:index 97, :time 20337522593, :type :ok, :process 6, :f :txn, :value [[:w 5 1] [:w 5 2] [:r 4 7] [:r 5 2] [:w 5 3]]}
{:index 98, :time 20387555370, :type :invoke, :process 7, :f :txn, :value [[:r 5 nil] [:w 5 4] [:w 5 5] [:r 5 nil] [:r 5 nil] [:r 5 nil]]}
{:index 99, :time 20393799279, :type :ok, :process 7, :f :txn, :value [[:r 5 3] [:w 5 4] [:w 5 5] [:r 5 5] [:r 5 5] [:r 5 5]]}
{:index 100, :time 20564396468, :type :invoke, :process 8, :f :txn, :value [[:r 5 nil] [:r 5 nil]]}
{:index 101, :time 20568145914, :type :ok, :process 8, :f :txn, :value [[:r 5 5] [:r 5 5]]}
{:index 102, :time 20708657507, :type :invoke, :process 9, :f :txn, :value [[:r 4 nil] [:r 5 nil] [:w 5 6] [:r 0 nil] [:r 5 nil] [:r 5 nil] [:w 0 18]]}
{:index 103, :time 20716374794, :type :ok, :process 9, :f :txn, :value [[:r 4 7] [:r 5 5] [:w 5 6] [:r 0 17] [:r 5 6] [:r 5 6] [:w 0 18]]}
{:index 104, :time 20716531170, :type :invoke, :process 10, :f :txn, :value [[:r 4 nil] [:w 5 7]]}
{:index 105, :time 20720245905, :type :ok, :process 10, :f :txn, :value [[:r 4 7] [:w 5 7]]}
{:index 106, :time 20756063821, :type :invoke, :process 11, :f :txn, :value [[:r 5 nil] [:r 0 nil] [:r 4 nil] [:w 5 8]]}
{:index 107, :time 20761079914, :type :ok, :process 11, :f :txn, :value [[:r 5 7] [:r 0 18] [:r 4 7] [:w 5 8]]}
{:index 108, :time 20789719929, :type :invoke, :process 12, :f :txn, :value [[:r 5 nil] [:w 5 9] [:r 0 nil] [:w 0 19] [:r 4 nil] [:r 5 nil] [:r 5 nil]]}
{:index 109, :time 20795464680, :type :ok, :process 12, :f :txn, :value [[:r 5 8] [:w 5 9] [:r 0 18] [:w 0 19] [:r 4 7] [:r 5 9] [:r 5 9]]}
{:index 110, :time 20877833560, :type :invoke, :process 13, :f :txn, :value [[:r 5 nil] [:r 5 nil] [:w 5 10]]}
{:index 111, :time 20882254882, :type :ok, :process 13, :f :txn, :value [[:r 5 9] [:r 5 9] [:w 5 10]]}
{:index 112, :time 21030068344, :type :invoke, :process 14, :f :txn, :value [[:w 4 8] [:r 5 nil] [:w 5 11] [:w 5 12]]}
{:index 113, :time 21035207429, :type :ok, :process 14, :f :txn, :value [[:w 4 8] [:r 5 10] [:w 5 11] [:w 5 12]]}
{:index 114, :time 21205867126, :type :invoke, :process 15, :f :txn, :value [[:w 5 13] [:r 4 nil] [:w 4 9] [:r 4 nil]]}
{:index 115, :time 21210534850, :type :ok, :process 15, :f :txn, :value [[:w 5 13] [:r 4 8] [:w 4 9] [:r 4 9]]}
{:index 116, :time 21287000996, :type :invoke, :process 16, :f :txn, :value [[:w 0 20] [:r 4 nil] [:w 5 14] [:w 5 15]]}
{:index 117, :time 21291733114, :type :ok, :process 16, :f :txn, :value [[:w 0 20] [:r 4 9] [:w 5 14] [:w 5 15]]}
{:index 118, :time 21312455396, :type :invoke, :process 17, :f :txn, :value [[:w 5 16] [:w 5 17] [:w 5 18] [:r 5 nil] [:w 0 21]]}
{:index 119, :time 21317072554, :type :ok, :process 17, :f :txn, :value [[:w 5 16] [:w 5 17] [:w 5 18] [:r 5 18] [:w 0 21]]}
{:index 120, :time 21318387741, :type :invoke, :process 18, :f :txn, :value [[:r 4 nil] [:w 4 10] [:r 5 nil] [:r 4 nil] [:w 5 19] [:w 5 20]]}
{:index 121, :time 21322906563, :type :ok, :process 18, :f :txn, :value [[:r 4 9] [:w 4 10] [:r 5 18] [:r 4 10] [:w 5 19] [:w 5 20]]}
{:index 122, :time 21476198190, :type :invoke, :process 19, :f :txn, :value [[:r 0 nil] [:w 5 21] [:w 5 22]]}
{:index 123, :time 21480383797, :type :ok, :process 19, :f :txn, :value [[:r 0 21] [:w 5 21] [:w 5 22]]}
{:index 124, :time 21536138138, :type :invoke, :process 0, :f :txn, :value [[:r 5 nil] [:w 4 11] [:w 0 22] [:w 5 23] [:r 4 nil] [:w 5 24] [:r 5 nil] [:r 5 nil]]}
{:index 125, :time 21542642835, :type :ok, :process 0, :f :txn, :value [[:r 5 22] [:w 4 11] [:w 0 22] [:w 5 23] [:r 4 11] [:w 5 24] [:r 5 24] [:r 5 24]]}
{:index 126, :time 21692688853, :type :invoke, :process 0, :f :txn, :value [[:r 5 nil] [:r 5 nil] [:r 5 nil] [:r 5 nil] [:r 5 nil]]}
{:index 127, :time 21697597531, :type :ok, :process 0, :f :txn, :value [[:r 5 24] [:r 5 24] [:r 5 24] [:r 5 24] [:r 5 24]]}
{:index 128, :time 21788091712, :type :invoke, :process 1, :f :txn, :value [[:r 4 nil] [:w 4 12] [:r 0 nil]]}
{:index 129, :time 21792472945, :type :ok, :process 1, :f :txn, :value [[:r 4 11] [:w 4 12] [:r 0 22]]}
{:index 130, :time 21977354976, :type :invoke, :process 2, :f :txn, :value [[:r 5 nil] [:r 5 nil] [:w 4 13] [:w 5 25]]}
{:index 131, :time 21982742627, :type :ok, :process 2, :f :txn, :value [[:r 5 24] [:r 5 24] [:w 4 13] [:w 5 25]]}
{:index 132, :time 22000254710, :type :invoke, :process 3, :f :txn, :value [[:w 5 26] [:w 5 27]]}
{:index 133, :time 22003639164, :type :ok, :process 3, :f :txn, :value [[:w 5 26] [:w 5 27]]}
{:index 134, :time 22021345267, :type :invoke, :process 4, :f :txn, :value [[:r 4 nil] [:w 4 14] [:w 0 23] [:r 5 nil] [:r 0 nil] [:r 4 nil] [:r 4 nil] [:r 0 nil]]}
{:index 135, :time 22027121656, :type :ok, :process 4, :f :txn, :value [[:r 4 13] [:w 4 14] [:w 0 23] [:r 5 27] [:r 0 23] [:r 4 14] [:r 4 14] [:r 0 23]]}
{:index 136, :time 22177013743, :type :invoke, :process 5, :f :txn, :value [[:w 5 28] [:w 4 15] [:w 5 29] [:r 0 nil] [:w 5 30]]}
{:index 137, :time 22182339165, :type :ok, :process 5, :f :txn, :value [[:w 5 28] [:w 4 15] [:w 5 29] [:r 0 23] [:w 5 30]]}
{:index 138, :time 22251534591, :type :invoke, :process 6, :f :txn, :value [[:r 0 nil] [:w 5 31]]}
{:index 139, :time 22254515361, :type :ok, :process 6, :f :txn, :value [[:r 0 23] [:w 5 31]]}
{:index 140, :time 22419118114, :type :invoke, :process 7, :f :txn, :value [[:r 5 nil] [:r 0 nil] [:r 0 nil] [:w 4 16] [:r 5 nil] [:r 5 nil]]}
{:index 141, :time 22425258797, :type :ok, :process 7, :f :txn, :value [[:r 5 31] [:r 0 23] [:r 0 23] [:w 4 16] [:r 5 31] [:r 5 31]]}
{:index 142, :time 22437083888, :type :invoke, :process 8, :f :txn, :value [[:r 5 nil] [:r 4 nil]]}
{:index 143, :time 22440294716, :type :ok, :process 8, :f :txn, :value [[:r 5 31] [:r 4 16]]}
{:index 144, :time 22454639692, :type :invoke, :process 9, :f :txn, :value [[:w 4 17] [:w 4 18] [:w 4 19] [:r 5 nil]]}
{:index 145, :time 22459229961, :type :ok, :process 9, :f :txn, :value [[:w 4 17] [:w 4 18] [:w 4 19] [:r 5 31]]}
{:index 146, :time 22562874966, :type :invoke, :process 10, :f :txn, :value [[:w 4 20] [:w 5 32]]}
{:index 147, :time 22566664012, :type :ok, :process 10, :f :txn, :value [[:w 4 20] [:w 5 32]]}
{:index 148, :time 22657321552, :type :invoke, :process 11, :f :txn, :value [[:w 4 21] [:r 0 nil] [:r 0 nil] [:r 4 nil] [:r 5 nil] [:r 4 nil]]}
{:index 149, :time 22662736092, :type :ok, :process 11, :f :txn, :value [[:w 4 21] [:r 0 23] [:r 0 23] [:r 4 21] [:r 5 32] [:r 4 21]]}
{:index 150, :time 22684244651, :type :invoke, :process 12, :f :txn, :value [[:w 6 1] [:r 6 nil] [:r 6 nil] [:r 4 nil] [:r 4 nil] [:w 6 2]]}
{:index 151, :time 22689614772, :type :ok, :process 12, :f :txn, :value [[:w 6 1] [:r 6 1] [:r 6 1] [:r 4 21] [:r 4 21] [:w 6 2]]}
{:index 152, :time 22818456880, :type :invoke, :process 13, :f :txn, :value [[:r 6 nil] [:w 6 3] [:w 0 24]]}
{:index 153, :time 22822779516, :type :ok, :process 13, :f :txn, :value [[:r 6 2] [:w 6 3] [:w 0 24]]}
{:index 154, :time 22991912685, :type :invoke, :process 14, :f :txn, :value [[:w 0 25] [:w 0 26] [:r 6 nil] [:w 4 22] [:w 6 4] [:w 6 5] [:r 4 nil] [:w 6 6]]}
{:index 155, :time 22999838729, :type :ok, :process 14, :f :txn, :value [[:w 0 25] [:w 0 26] [:r 6 3] [:w 4 22] [:w 6 4] [:w 6 5] [:r 4 22] [:w 6 6]]}
{:index 156, :time 23067581519, :type :invoke, :process 15, :f :txn, :value [[:w 4 23] [:r 6 nil] [:r 4 nil] [:r 6 nil] [:w 6 7] [:w 6 8]]}
{:index 157, :time 23073573928, :type :ok, :process 15, :f :txn, :value [[:w 4 23] [:r 6 6] [:r 4 23] [:r 6 6] [:w 6 7] [:w 6 8]]}
{:index 158, :time 23097946132, :type :invoke, :process 16, :f :txn, :value [[:r 4 nil] [:w 4 24] [:w 0 27] [:r 6 nil]]}
{:index 159, :time 23102168267, :type :ok, :process 16, :f :txn, :value [[:r 4 23] [:w 4 24] [:w 0 27] [:r 6 8]]}
{:index 160, :time 23180759483, :type :invoke, :process 17, :f :txn, :value [[:r 0 nil] [:w 4 25] [:r 6 nil] [:w 6 9] [:w 6 10] [:w 6 11] [:r 6 nil]]}
{:index 161, :time 23187067925, :type :ok, :process 17, :f :txn, :value [[:r 0 27] [:w 4 25] [:r 6 8] [:w 6 9] [:w 6 10] [:w 6 11] [:r 6 11]]}
{:index 162, :time 23203876703, :type :invoke, :process 18, :f :txn, :value [[:w 6 12] [:r 6 nil] [:w 6 13] [:w 6 14] [:w 6 15]]}
{:index 163, :time 23208758771, :type :ok, :process 18, :f :txn, :value [[:w 6 12] [:r 6 12] [:w 6 13] [:w 6 14] [:w 6 15]]}
{:index 164, :time 23398850635, :type :invoke, :process 19, :f :txn, :value [[:r 6 nil] [:w 6 16] [:r 4 nil] [:w 6 17] [:w 4 26]]}
{:index 165, :time 23404041542, :type :ok, :process 19, :f :txn, :value [[:r 6 15] [:w 6 16] [:r 4 25] [:w 6 17] [:w 4 26]]}
{:index 166, :time 23435699761, :type :invoke, :process 0, :f :txn, :value [[:w 4 27] [:r 4 nil] [:w 0 28] [:r 6 nil] [:r 4 nil] [:w 0 29] [:r 4 nil]]}
{:index 167, :time 23441081755, :type :ok, :process 0, :f :txn, :value [[:w 4 27] [:r 4 27] [:w 0 28] [:r 6 17] [:r 4 27] [:w 0 29] [:r 4 27]]}
{:index 168, :time 23490485328, :type :invoke, :process 0, :f :txn, :value [[:r 6 nil] [:r 4 nil] [:w 6 18] [:w 4 28]]}
{:index 169, :time 23494575881, :type :ok, :process 0, :f :txn, :value [[:r 6 17] [:r 4 27] [:w 6 18] [:w 4 28]]}
{:index 170, :time 23551930362, :type :invoke, :process 1, :f :txn, :value [[:w 4 29] [:r 6 nil] [:w 0 30] [:r 6 nil] [:r 6 nil] [:r 6 nil] [:r 6 nil] [:r 4 nil]]}
{:index 171, :time 23558429611, :type :ok, :process 1, :f :txn, :value [[:w 4 29] [:r 6 18] [:w 0 30] [:r 6 18] [:r 6 18] [:r 6 18] [:r 6 18] [:r 4 29]]}
{:index 172, :time 23585187465, :type :invoke, :process 2, :f :txn, :value [[:r 0 nil] [:r 4 nil] [:r 4 nil]]}
{:index 173, :time 23588659989, :type :ok, :process 2, :f :txn, :value [[:r 0 30] [:r 4 29] [:r 4 29]]}
{:index 174, :time 23700807510, :type :invoke, :process 3, :f :txn, :value [[:r 4 nil] [:r 4 nil] [:w 4 30] [:r 4 nil] [:w 6 19]]}
{:index 175, :time 23706141872, :type :ok, :process 3, :f :txn, :value [[:r 4 29] [:r 4 29] [:w 4 30] [:r 4 30] [:w 6 19]]}
{:index 176, :time 23809967347, :type :invoke, :process 4, :f :txn, :value [[:w 6 20] [:r 6 nil] [:r 6 nil] [:r 4 nil] [:w 4 31] [:w 6 21] [:w 0 31]]}
{:index 177, :time 23816385371, :type :ok, :process 4, :f :txn, :value [[:w 6 20] [:r 6 20] [:r 6 20] [:r 4 30] [:w 4 31] [:w 6 21] [:w 0 31]]}
{:index 178, :time 23845240009, :type :invoke, :process 5, :f :txn, :value [[:w 6 22] [:w 4 32] [:w 0 32] [:r 6 nil] [:r 4 nil] [:r 0 nil] [:r 0 nil]]}
{:index 179, :time 23850134159, :type :ok, :process 5, :f :txn, :value [[:w 6 22] [:w 4 32] [:w 0 32] [:r 6 22] [:r 4 32] [:r 0 32] [:r 0 32]]}
{:index 180, :time 23943653389, :type :invoke, :process 6, :f :txn, :value [[:w 6 23] [:r 7 nil] [:r 4 nil] [:w 6 24] [:w 6 25]]}
{:index 181, :time 23948314058, :type :ok, :process 6, :f :txn, :value [[:w 6 23] [:r 7 nil] [:r 4 32] [:w 6 24] [:w 6 25]]}
{:index 182, :time 24103432112, :type :invoke, :process 7, :f :txn, :value [[:r 4 nil] [:r 6 nil] [:w 8 1] [:r 6 nil] [:r 6 nil] [:w 8 2] [:w 8 3]]}
{:index 183, :time 24109925146, :type :ok, :process 7, :f :txn, :value [[:r 4 32] [:r 6 25] [:w 8 1] [:r 6 25] [:r 6 25] [:w 8 2] [:w 8 3]]}
{:index 184, :time 24162755008, :type :invoke, :process 8, :f :txn, :value [[:w 6 26] [:r 6 nil] [:w 7 1] [:r 8 nil] [:r 7 nil] [:r 8 nil]]}
{:index 185, :time 24168658369, :type :ok, :process 8, :f :txn, :value [[:w 6 26] [:r 6 26] [:w 7 1] [:r 8 3] [:r 7 1] [:r 8 3]]}
{:index 186, :time 24297026532, :type :invoke, :process 9, :f :txn, :value [[:w 8 4] [:w 8 5] [:w 8 6] [:r 7 nil] [:r 6 nil] [:r 6 nil] [:r 7 nil] [:w 7 2]]}
{:index 187, :time 24304331195, :type :ok, :process 9, :f :txn, :value [[:w 8 4] [:w 8 5] [:w 8 6] [:r 7 1] [:r 6 26] [:r 6 26] [:r 7 1] [:w 7 2]]}
{:index 188, :time 24310844762, :type :invoke, :process 10, :f :txn, :value [[:r 8 nil] [:r 6 nil] [:r 7 nil] [:w 8 7] [:w 8 8] [:r 8 nil]]}
{:index 189, :time 24315681921, :type :ok, :process 10, :f :txn, :value [[:r 8 6] [:r 6 26] [:r 7 2] [:w 8 7] [:w 8 8] [:r 8 8]]}
{:index 190, :time 24317747347, :type :invoke, :process 11, :f :txn, :value [[:r 7 nil] [:r 8 nil] [:w 8 9] [:w 7 3] [:r 6 nil] [:w 6 27]]}
{:index 191, :time 24322583948, :type :ok, :process 11, :f :txn, :value [[:r 7 2] [:r 8 8] [:w 8 9] [:w 7 3] [:r 6 26] [:w 6 27]]}
{:index 192, :time 24391450559, :type :invoke, :process 12, :f :txn, :value [[:r 8 nil] [:r 6 nil] [:r 6 nil] [:r 8 nil]]}
{:index 193, :time 24395946961, :type :ok, :process 12, :f :txn, :value [[:r 8 9] [:r 6 27] [:r 6 27] [:r 8 9]]}
{:index 194, :time 24468241049, :type :invoke, :process 13, :f :txn, :value [[:r 6 nil] [:w 8 10] [:r 6 nil]]}
{:index 195, :time 24472389640, :type :ok, :process 13, :f :txn, :value [[:r 6 27] [:w 8 10] [:r 6 27]]}
{:index 196, :time 24567389650, :type :invoke, :process 14, :f :txn, :value [[:r 8 nil] [:w 8 11] [:r 6 nil] [:w 6 28] [:r 6 nil] [:w 6 29] [:w 6 30] [:r 8 nil]]}
{:index 197, :time 24574741806, :type :ok, :process 14, :f :txn, :value [[:r 8 10] [:w 8 11] [:r 6 27] [:w 6 28] [:r 6 28] [:w 6 29] [:w 6 30] [:r 8 11]]}
{:index 198, :time 24654790825, :type :invoke, :process 15, :f :txn, :value [[:r 8 nil] [:r 8 nil] [:w 6 31] [:r 6 nil] [:r 6 nil] [:r 6 nil] [:w 6 32]]}
{:index 199, :time 24661755849, :type :ok, :process 15, :f :txn, :value [[:r 8 11] [:r 8 11] [:w 6 31] [:r 6 31] [:r 6 31] [:r 6 31] [:w 6 32]]}
{:index 200, :time 24850796456, :type :invoke, :process 16, :f :txn, :value [[:r 9 nil] [:w 9 1] [:w 9 2] [:w 8 12]]}
{:index 201, :time 24856191650, :type :ok, :process 16, :f :txn, :value [[:r 9 nil] [:w 9 1] [:w 9 2] [:w 8 12]]}
{:index 202, :time 25010450303, :type :invoke, :process 17, :f :txn, :value [[:r 8 nil] [:r 8 nil] [:r 8 nil] [:r 9 nil] [:w 9 3]]}
{:index 203, :time 25016391937, :type :ok, :process 17, :f :txn, :value [[:r 8 12] [:r 8 12] [:r 8 12] [:r 9 2] [:w 9 3]]}
{:index 204, :time 25160649621, :type :invoke, :process 18, :f :txn, :value [[:w 9 4] [:r 7 nil] [:w 9 5] [:w 8 13] [:w 7 4] [:r 7 nil]]}
{:index 205, :time 25167443463, :type :ok, :process 18, :f :txn, :value [[:w 9 4] [:r 7 3] [:w 9 5] [:w 8 13] [:w 7 4] [:r 7 4]]}
{:index 206, :time 25227596287, :type :invoke, :process 19, :f :txn, :value [[:r 8 nil] [:w 8 14] [:w 9 6] [:w 7 5] [:w 9 7] [:r 9 nil] [:w 9 8] [:w 9 9]]}
{:index 207, :time 25230929198, :type :invoke, :process 0, :f :txn, :value [[:r 8 nil] [:r 7 nil] [:w 8 15]]}
{:index 208, :time 25235025408, :type :ok, :process 19, :f :txn, :value [[:r 8 13] [:w 8 14] [:w 9 6] [:w 7 5] [:w 9 7] [:r 9 7] [:w 9 8] [:w 9 9]]}
{:index 209, :time 25238435144, :type :fail, :process 0, :f :txn, :value [[:r 8 nil] [:r 7 nil] [:w 8 15]], :error :ww-conflict}
{:index 210, :time 25275666234, :type :invoke, :process 0, :f :txn, :value [[:w 8 16] [:r 8 nil] [:r 9 nil] [:w 8 17] [:r 8 nil]]}
{:index 211, :time 25280319571, :type :ok, :process 0, :f :txn, :value [[:w 8 16] [:r 8 16] [:r 9 9] [:w 8 17] [:r 8 17]]}
{:index 212, :time 25472015066, :type :invoke, :process 1, :f :txn, :value [[:r 9 nil] [:r 9 nil] [:w 7 6] [:w 9 10]]}
{:index 213, :time 25477025572, :type :ok, :process 1, :f :txn, :value [[:r 9 9] [:r 9 9] [:w 7 6] [:w 9 10]]}
{:index 214, :time 25548879658, :type :invoke, :process 2, :f :txn, :value [[:w 9 11] [:w 9 12]]}
{:index 215, :time 25551510870, :type :ok, :process 2, :f :txn, :value [[:w 9 11] [:w 9 12]]}
{:index 216, :time 25719467625, :type :invoke, :process 3, :f :txn, :value [[:w 9 13] [:w 8 18] [:r 9 nil]]}
{:index 217, :time 25723210716, :type :ok, :process 3, :f :txn, :value [[:w 9 13] [:w 8 18] [:r 9 13]]}
{:index 218, :time 25865459895, :type :invoke, :process 4, :f :txn, :value [[:w 8 19] [:w 8 20] [:w 7 7] [:w 9 14]]}
{:index 219, :time 25870772327, :type :ok, :process 4, :f :txn, :value [[:w 8 19] [:w 8 20] [:w 7 7] [:w 9 14]]}
{:index 220, :time 25993936801, :type :invoke, :process 5, :f :txn, :value [[:w 9 15] [:r 7 nil] [:r 9 nil] [:r 9 nil] [:r 8 nil] [:w 7 8] [:w 9 16]]}
{:index 221, :time 25999728904, :type :ok, :process 5, :f :txn, :value [[:w 9 15] [:r 7 7] [:r 9 15] [:r 9 15] [:r 8 20] [:w 7 8] [:w 9 16]]}
