{:index 0, :time 16154051118, :type :invoke, :process 0, :f :txn, :value [[:w 3 1] [:r 4 nil] [:r 4 nil] [:w 4 1] [:r 4 nil] [:r 3 nil]]}
{:index 1, :time 16173059328, :type :ok, :process 0, :f :txn, :value [[:w 3 1] [:r 4 nil] [:r 4 nil] [:w 4 1] [:r 4 1] [:r 3 1]]}
{:index 2, :time 16294824328, :type :invoke, :process 1, :f :txn, :value [[:r 4 nil] [:w 4 2] [:w 4 3] [:w 1 1] [:w 2 1] [:r 3 nil]]}
{:index 3, :time 16304467449, :type :ok, :process 1, :f :txn, :value [[:r 4 1] [:w 4 2] [:w 4 3] [:w 1 1] [:w 2 1] [:r 3 1]]}
{:index 4, :time 16413717847, :type :invoke, :process 2, :f :txn, :value [[:r 1 nil] [:r 4 nil] [:w 3 2] [:r 3 nil]]}
{:index 5, :time 16422689595, :type :ok, :process 2, :f :txn, :value [[:r 1 1] [:r 4 3] [:w 3 2] [:r 3 2]]}
{:index 6, :time 16462335667, :type :invoke, :process 3, :f :txn, :value [[:w 3 3] [:r 5 nil] [:r 5 nil] [:w 5 1] [:r 5 nil] [:r 5 nil] [:r 5 nil] [:r 6 nil]]}
{:index 7, :time 16472952153, :type :ok, :process 3, :f :txn, :value [[:w 3 3] [:r 5 nil] [:r 5 nil] [:w 5 1] [:r 5 1] [:r 5 1] [:r 5 1] [:r 6 nil]]}
{:index 8, :time 16558871230, :type :invoke, :process 4, :f :txn, :value [[:w 6 1] [:r 5 nil] [:r 2 nil] [:w 6 2] [:r 5 nil] [:w 5 2] [:r 5 nil]]}
{:index 9, :time 16568453661, :type :ok, :process 4, :f :txn, :value [[:w 6 1] [:r 5 1] [:r 2 1] [:w 6 2] [:r 5 1] [:w 5 2] [:r 5 2]]}
{:index 10, :time 16698643213, :type :invoke, :process 5, :f :txn, :value [[:w 5 3] [:r 0 nil] [:r 6 nil] [:w 7 1] [:w 6 3] [:r 6 nil]]}
{:index 11, :time 16707016360, :type :ok, :process 5, :f :txn, :value [[:w 5 3] [:r 0 nil] [:r 6 2] [:w 7 1] [:w 6 3] [:r 6 3]]}
{:index 12, :time 16740148154, :type :invoke, :process 6, :f :txn, :value [[:r 7 nil] [:w 7 2] [:r 6 nil] [:w 7 3]]}
{:index 13, :time 16747216615, :type :ok, :process 6, :f :txn, :value [[:r 7 1] [:w 7 2] [:r 6 3] [:w 7 3]]}
{:index 14, :time 16761625077, :type :invoke, :process 7, :f :txn, :value [[:r 1 nil] [:r 8 nil] [:r 8 nil] [:w 8 1]]}
{:index 15, :time 16767755095, :type :ok, :process 7, :f :txn, :value [[:r 1 1] [:r 8 nil] [:r 8 nil] [:w 8 1]]}
{:index 16, :time 16858308840, :type :invoke, :process 8, :f :txn, :value [[:w 1 2] [:w 8 2] [:w 8 3] [:r 6 nil] [:r 8 nil]]}
{:index 17, :time 16866118935, :type :ok, :process 8, :f :txn, :value [[:w 1 2] [:w 8 2] [:w 8 3] [:r 6 3] [:r 8 3]]}
{:index 18, :time 16993895926, :type :invoke, :process 9, :f :txn, :value [[:r 6 nil] [:w 9 1] [:r 9 nil] [:w 9 2] [:w 2 2] [:r 1 nil] [:r 1 nil] [:r 9 nil]]}
{:index 19, :time 17002675753, :type :ok, :process 9, :f :txn, :value [[:r 6 3] [:w 9 1] [:r 9 1] [:w 9 2] [:w 2 2] [:r 1 2] [:r 1 2] [:r 9 2]]}
{:index 20, :time 17175853373, :type :invoke, :process 10, :f :txn, :value [[:r 6 nil] [:r 6 nil] [:r 9 nil] [:w 9 3]]}
{:index 21, :time 17182808553, :type :ok, :process 10, :f :txn, :value [[:r 6 3] [:r 6 3] [:r 9 2] [:w 9 3]]}
{:index 22, :time 17309522435, :type :invoke, :process 11, :f :txn, :value [[:r 2 nil] [:r 9 nil] [:r 10 nil] [:w 10 1]]}
{:index 23, :time 17316085952, :type :ok, :process 11, :f :txn, :value [[:r 2 2] [:r 9 3] [:r 10 nil] [:w 10 1]]}
{:index 24, :time 17322261017, :type :invoke, :process 12, :f :txn, :value [[:r 11 nil] [:r 2 nil] [:w 11 1] [:r 10 nil]]}
{:index 25, :time 17327910883, :type :ok, :process 12, :f :txn, :value [[:r 11 nil] [:r 2 2] [:w 11 1] [:r 10 1]]}
{:index 26, :time 17366837532, :type :invoke, :process 13, :f :txn, :value [[:w 11 2] [:r 10 nil] [:r 11 nil] [:w 11 3] [:w 10 2] [:w 12 1]]}
{:index 27, :time 17373105205, :type :ok, :process 13, :f :txn, :value [[:w 11 2] [:r 10 1] [:r 11 2] [:w 11 3] [:w 10 2] [:w 12 1]]}
{:index 28, :time 17532571303, :type :invoke, :process 14, :f :txn, :value [[:r 10 nil] [:w 10 3] [:w 12 2] [:r 2 nil] [:w 12 3] [:r 12 nil]]}
{:index 29, :time 17540499219, :type :ok, :process 14, :f :txn, :value [[:r 10 2] [:w 10 3] [:w 12 2] [:r 2 2] [:w 12 3] [:r 12 3]]}
{:index 30, :time 17629414584, :type :invoke, :process 15, :f :txn, :value [[:r 12 nil] [:r 2 nil] [:w 1 3] [:w 14 1] [:r 14 nil] [:w 14 2] [:w 14 3] [:r 2 nil]]}
{:index 31, :time 17638352949, :type :ok, :process 15, :f :txn, :value [[:r 12 3] [:r 2 2] [:w 1 3] [:w 14 1] [:r 14 1] [:w 14 2] [:w 14 3] [:r 2 2]]}
{:index 32, :time 17759179581, :type :invoke, :process 16, :f :txn, :value [[:r 13 nil] [:r 2 nil] [:r 14 nil] [:w 15 1] [:r 0 nil] [:r 15 nil] [:r 15 nil] [:w 0 1]]}
{:index 33, :time 17767417377, :type :ok, :process 16, :f :txn, :value [[:r 13 nil] [:r 2 2] [:r 14 3] [:w 15 1] [:r 0 nil] [:r 15 1] [:r 15 1] [:w 0 1]]}
{:index 34, :time 17773688473, :type :invoke, :process 17, :f :txn, :value [[:w 15 2] [:r 1 nil] [:w 15 3] [:r 15 nil] [:r 13 nil] [:w 13 1] [:r 15 nil] [:w 13 2]]}
{:index 35, :time 17781338005, :type :ok, :process 17, :f :txn, :value [[:w 15 2] [:r 1 3] [:w 15 3] [:r 15 3] [:r 13 nil] [:w 13 1] [:r 15 3] [:w 13 2]]}
{:index 36, :time 17931667253, :type :invoke, :process 18, :f :txn, :value [[:w 2 3] [:r 15 nil] [:r 15 nil] [:r 15 nil] [:r 15 nil] [:r 15 nil]]}
{:index 37, :time 17940189370, :type :ok, :process 18, :f :txn, :value [[:w 2 3] [:r 15 3] [:r 15 3] [:r 15 3] [:r 15 3] [:r 15 3]]}
{:index 38, :time 18111302376, :type :invoke, :process 19, :f :txn, :value [[:r 16 nil] [:w 13 3] [:r 13 nil] [:r 17 nil] [:w 16 1] [:w 18 1] [:w 16 2]]}
{:index 39, :time 18118980194, :type :ok, :process 19, :f :txn, :value [[:r 16 nil] [:w 13 3] [:r 13 3] [:r 17 nil] [:w 16 1] [:w 18 1] [:w 16 2]]}
{:index 40, :time 18276881451, :type :invoke, :process 0, :f :txn, :value [[:w 16 3] [:w 17 1] [:r 18 nil] [:r 16 nil] [:r 16 nil]]}
{:index 41, :time 18282830514, :type :ok, :process 0, :f :txn, :value [[:w 16 3] [:w 17 1] [:r 18 1] [:r 16 3] [:r 16 3]]}
{:index 42, :time 18403279590, :type :invoke, :process 0, :f :txn, :value [[:w 17 2] [:w 17 3] [:r 20 nil] [:w 0 2] [:r 20 nil] [:r 20 nil]]}
{:index 43, :time 18410472996, :type :ok, :process 0, :f :txn, :value [[:w 17 2] [:w 17 3] [:r 20 nil] [:w 0 2] [:r 20 nil] [:r 20 nil]]}
{:index 44, :time 18531041781, :type :invoke, :process 1, :f :txn, :value [[:w 18 2] [:r 19 nil] [:r 20 nil] [:w 20 1] [:r 20 nil] [:w 20 2] [:w 20 3] [:w 22 1]]}
{:index 45, :time 18539044775, :type :ok, :process 1, :f :txn, :value [[:w 18 2] [:r 19 nil] [:r 20 nil] [:w 20 1] [:r 20 1] [:w 20 2] [:w 20 3] [:w 22 1]]}
{:index 46, :time 18703609913, :type :invoke, :process 2, :f :txn, :value [[:r 22 nil] [:w 18 3] [:r 18 nil] [:w 21 1] [:w 21 2]]}
{:index 47, :time 18710674045, :type :ok, :process 2, :f :txn, :value [[:r 22 1] [:w 18 3] [:r 18 3] [:w 21 1] [:w 21 2]]}
{:index 48, :time 18743889439, :type :invoke, :process 3, :f :txn, :value [[:r 22 nil] [:w 22 2] [:r 22 nil] [:r 22 nil] [:r 19 nil] [:w 22 3]]}
{:index 49, :time 18749616200, :type :ok, :process 3, :f :txn, :value [[:r 22 1] [:w 22 2] [:r 22 2] [:r 22 2] [:r 19 nil] [:w 22 3]]}
{:index 50, :time 18824193993, :type :invoke, :process 4, :f :txn, :value [[:r 22 nil] [:w 21 3] [:r 22 nil] [:r 21 nil]]}
{:index 51, :time 18829995902, :type :ok, :process 4, :f :txn, :value [[:r 22 3] [:w 21 3] [:r 22 3] [:r 21 3]]}
{:index 52, :time 19007008388, :type :invoke, :process 5, :f :txn, :value [[:r 23 nil] [:r 22 nil] [:r 22 nil] [:r 0 nil] [:w 23 1]]}
{:index 53, :time 19012938873, :type :ok, :process 5, :f :txn, :value [[:r 23 nil] [:r 22 3] [:r 22 3] [:r 0 2] [:w 23 1]]}
{:index 54, :time 19081745417, :type :invoke, :process 6, :f :txn, :value [[:r 22 nil] [:r 22 nil] [:w 23 2] [:r 24 nil] [:r 24 nil] [:w 24 1] [:r 0 nil]]}
{:index 55, :time 19089085907, :type :ok, :process 6, :f :txn, :value [[:r 22 3] [:r 22 3] [:w 23 2] [:r 24 nil] [:r 24 nil] [:w 24 1] [:r 0 2]]}
{:index 56, :time 19246594386, :type :invoke, :process 7, :f :txn, :value [[:r 25 nil] [:w 25 1] [:w 25 2] [:w 25 3] [:w 26 1]]}
{:index 57, :time 19252921354, :type :ok, :process 7, :f :txn, :value [[:r 25 nil] [:w 25 1] [:w 25 2] [:w 25 3] [:w 26 1]]}
{:index 58, :time 19385920447, :type :invoke, :process 8, :f :txn, :value [[:w 26 2] [:r 24 nil] [:r 26 nil] [:w 26 3] [:r 24 nil] [:w 27 1] [:r 27 nil]]}
{:index 59, :time 19392940719, :type :ok, :process 8, :f :txn, :value [[:w 26 2] [:r 24 1] [:r 26 2] [:w 26 3] [:r 24 1] [:w 27 1] [:r 27 1]]}
{:index 60, :time 19423719318, :type :invoke, :process 9, :f :txn, :value [[:w 27 2] [:w 0 3] [:w 27 3] [:r 27 nil] [:w 24 2] [:r 27 nil] [:r 27 nil] [:w 28 1]]}
{:index 61, :time 19429495246, :type :ok, :process 9, :f :txn, :value [[:w 27 2] [:w 0 3] [:w 27 3] [:r 27 3] [:w 24 2] [:r 27 3] [:r 27 3] [:w 28 1]]}
{:index 62, :time 19603405643, :type :invoke, :process 10, :f :txn, :value [[:r 28 nil] [:w 28 2] [:r 19 nil] [:w 28 3] [:r 28 nil] [:r 28 nil] [:r 28 nil]]}
{:index 63, :time 19611024935, :type :ok, :process 10, :f :txn, :value [[:r 28 1] [:w 28 2] [:r 19 nil] [:w 28 3] [:r 28 3] [:r 28 3] [:r 28 3]]}
{:index 64, :time 19793147078, :type :invoke, :process 11, :f :txn, :value [[:r 29 nil] [:w 24 3] [:r 23 nil] [:r 29 nil] [:r 29 nil]]}
{:index 65, :time 19797758281, :type :ok, :process 11, :f :txn, :value [[:r 29 nil] [:w 24 3] [:r 23 2] [:r 29 nil] [:r 29 nil]]}
{:index 66, :time 19855781631, :type :invoke, :process 12, :f :txn, :value [[:w 29 1] [:w 29 2] [:w 29 3] [:r 29 nil] [:r 24 nil] [:w 30 1] [:r 24 nil]]}
{:index 67, :time 19862128155, :type :ok, :process 12, :f :txn, :value [[:w 29 1] [:w 29 2] [:w 29 3] [:r 29 3] [:r 24 3] [:w 30 1] [:r 24 3]]}
{:index 68, :time 19896956440, :type :invoke, :process 13, :f :txn, :value [[:r 30 nil] [:r 0 nil] [:r 30 nil] [:r 30 nil] [:r 30 nil] [:r 23 nil] [:r 24 nil]]}
{:index 69, :time 19903045183, :type :ok, :process 13, :f :txn, :value [[:r 30 1] [:r 0 3] [:r 30 1] [:r 30 1] [:r 30 1] [:r 23 2] [:r 24 3]]}
{:index 70, :time 19944032541, :type :invoke, :process 14, :f :txn, :value [[:r 30 nil] [:w 30 2] [:r 24 nil] [:r 30 nil] [:r 30 nil] [:w 30 3] [:w 31 1]]}
{:index 71, :time 19950443666, :type :ok, :process 14, :f :txn, :value [[:r 30 1] [:w 30 2] [:r 24 3] [:r 30 2] [:r 30 2] [:w 30 3] [:w 31 1]]}
{:index 72, :time 19983134002, :type :invoke, :process 15, :f :txn, :value [[:r 31 nil] [:r 24 nil] [:w 31 2] [:w 33 1] [:r 19 nil]]}
{:index 73, :time 19987702113, :type :ok, :process 15, :f :txn, :value [[:r 31 1] [:r 24 3] [:w 31 2] [:w 33 1] [:r 19 nil]]}
{:index 74, :time 20160811442, :type :invoke, :process 16, :f :txn, :value [[:r 31 nil] [:r 32 nil] [:w 31 3] [:w 33 2] [:w 33 3] [:w 34 1]]}
{:index 75, :time 20166681725, :type :ok, :process 16, :f :txn, :value [[:r 31 2] [:r 32 nil] [:w 31 3] [:w 33 2] [:w 33 3] [:w 34 1]]}
{:index 76, :time 20290386409, :type :invoke, :process 17, :f :txn, :value [[:r 34 nil] [:r 33 nil] [:w 34 2] [:r 33 nil] [:w 34 3] [:r 33 nil]]}
{:index 77, :time 20296075317, :type :ok, :process 17, :f :txn, :value [[:r 34 1] [:r 33 3] [:w 34 2] [:r 33 3] [:w 34 3] [:r 33 3]]}
{:index 78, :time 20332237132, :type :invoke, :process 18, :f :txn, :value [[:r 19 nil] [:r 34 nil] [:w 35 1] [:w 19 1] [:w 35 2] [:r 33 nil] [:r 35 nil]]}
{:index 79, :time 20338684994, :type :ok, :process 18, :f :txn, :value [[:r 19 nil] [:r 34 3] [:w 35 1] [:w 19 1] [:w 35 2] [:r 33 3] [:r 35 2]]}
{:index 80, :time 20341490267, :type :invoke, :process 19, :f :txn, :value [[:w 35 3] [:r 35 nil] [:w 19 2] [:r 32 nil] [:r 19 nil] [:w 36 1] [:w 36 2]]}
{:index 81, :time 20349486767, :type :ok, :process 19, :f :txn, :value [[:w 35 3] [:r 35 3] [:w 19 2] [:r 32 nil] [:r 19 2] [:w 36 1] [:w 36 2]]}
{:index 82, :time 20372000191, :type :invoke, :process 0, :f :txn, :value [[:w 23 3] [:r 36 nil] [:r 36 nil] [:r 32 nil] [:r 23 nil] [:w 36 3] [:w 37 1]]}
{:index 83, :time 20378572299, :type :ok, :process 0, :f :txn, :value [[:w 23 3] [:r 36 2] [:r 36 2] [:r 32 nil] [:r 23 3] [:w 36 3] [:w 37 1]]}
{:index 84, :time 20472981165, :type :invoke, :process 0, :f :txn, :value [[:r 38 nil] [:w 37 2] [:r 37 nil] [:r 23 nil] [:r 37 nil]]}
{:index 85, :time 20478152347, :type :ok, :process 0, :f :txn, :value [[:r 38 nil] [:w 37 2] [:r 37 2] [:r 23 3] [:r 37 2]]}
{:index 86, :time 20628843937, :type :invoke, :process 1, :f :txn, :value [[:w 38 1] [:w 38 2] [:r 38 nil] [:w 37 3] [:r 38 nil]]}
{:index 87, :time 20633569119, :type :ok, :process 1, :f :txn, :value [[:w 38 1] [:w 38 2] [:r 38 2] [:w 37 3] [:r 38 2]]}
{:index 88, :time 20789627652, :type :invoke, :process 2, :f :txn, :value [[:w 39 1] [:w 39 2] [:w 38 3] [:w 39 3] [:r 41 nil] [:w 40 1] [:w 40 2]]}
{:index 89, :time 20795099846, :type :invoke, :process 3, :f :txn, :value [[:r 41 nil] [:r 41 nil] [:w 41 1] [:r 41 nil] [:w 41 2] [:w 41 3]]}
{:index 90, :time 20796293555, :type :ok, :process 2, :f :txn, :value [[:w 39 1] [:w 39 2] [:w 38 3] [:w 39 3] [:r 41 nil] [:w 40 1] [:w 40 2]]}
{:index 91, :time 20800319287, :type :ok, :process 3, :f :txn, :value [[:r 41 nil] [:r 41 nil] [:w 41 1] [:r 41 1] [:w 41 2] [:w 41 3]]}
{:index 92, :time 20940030802, :type :invoke, :process 4, :f :txn, :value [[:r 42 nil] [:r 42 nil] [:r 19 nil] [:w 40 3] [:r 42 nil] [:w 42 1] [:w 42 2] [:w 19 3]]}
{:index 93, :time 20947005748, :type :ok, :process 4, :f :txn, :value [[:r 42 nil] [:r 42 nil] [:r 19 2] [:w 40 3] [:r 42 nil] [:w 42 1] [:w 42 2] [:w 19 3]]}
{:index 94, :time 21010166269, :type :invoke, :process 5, :f :txn, :value [[:r 42 nil] [:r 43 nil] [:w 42 3] [:r 43 nil]]}
{:index 95, :time 21014011255, :type :ok, :process 5, :f :txn, :value [[:r 42 2] [:r 43 nil] [:w 42 3] [:r 43 nil]]}
{:index 96, :time 21064486551, :type :invoke, :process 6, :f :txn, :value [[:r 19 nil] [:w 44 1] [:w 44 2] [:r 44 nil]]}
{:index 97, :time 21069177163, :type :ok, :process 6, :f :txn, :value [[:r 19 3] [:w 44 1] [:w 44 2] [:r 44 2]]}
{:index 98, :time 21238235621, :type :invoke, :process 7, :f :txn, :value [[:r 44 nil] [:r 44 nil] [:r 44 nil] [:r 44 nil]]}
{:index 99, :time 21242791161, :type :ok, :process 7, :f :txn, :value [[:r 44 2] [:r 44 2] [:r 44 2] [:r 44 2]]}
{:index 100, :time 21302303158, :type :invoke, :process 8, :f :txn, :value [[:r 44 nil] [:w 45 1] [:w 45 2] [:w 43 1]]}
{:index 101, :time 21306713640, :type :ok, :process 8, :f :txn, :value [[:r 44 2] [:w 45 1] [:w 45 2] [:w 43 1]]}
{:index 102, :time 21317814678, :type :invoke, :process 9, :f :txn, :value [[:w 45 3] [:r 44 nil] [:r 44 nil] [:r 44 nil] [:w 46 1]]}
{:index 103, :time 21322851208, :type :ok, :process 9, :f :txn, :value [[:w 45 3] [:r 44 2] [:r 44 2] [:r 44 2] [:w 46 1]]}
{:index 104, :time 21337999280, :type :invoke, :process 10, :f :txn, :value [[:r 46 nil] [:r 44 nil] [:r 46 nil] [:r 44 nil]]}
{:index 105, :time 21341787555, :type :ok, :process 10, :f :txn, :value [[:r 46 1] [:r 44 2] [:r 46 1] [:r 44 2]]}
{:index 106, :time 21501298855, :type :invoke, :process 11, :f :txn, :value [[:w 44 3] [:r 47 nil] [:w 47 1] [:r 43 nil] [:w 47 2] [:r 43 nil]]}
{:index 107, :time 21507650477, :type :ok, :process 11, :f :txn, :value [[:w 44 3] [:r 47 nil] [:w 47 1] [:r 43 1] [:w 47 2] [:r 43 1]]}
{:index 108, :time 21680935323, :type :invoke, :process 12, :f :txn, :value [[:w 47 3] [:r 47 nil] [:r 47 nil] [:r 46 nil]]}
{:index 109, :time 21686451655, :type :ok, :process 12, :f :txn, :value [[:w 47 3] [:r 47 3] [:r 47 3] [:r 46 1]]}
{:index 110, :time 21859463635, :type :invoke, :process 13, :f :txn, :value [[:w 46 2] [:r 48 nil] [:r 46 nil] [:r 46 nil] [:w 46 3] [:r 43 nil]]}
{:index 111, :time 21866605150, :type :ok, :process 13, :f :txn, :value [[:w 46 2] [:r 48 nil] [:r 46 2] [:r 46 2] [:w 46 3] [:r 43 1]]}
{:index 112, :time 21961044609, :type :invoke, :process 14, :f :txn, :value [[:r 46 nil] [:r 43 nil] [:w 48 1] [:r 48 nil] [:r 46 nil] [:w 48 2]]}
{:index 113, :time 21967646469, :type :ok, :process 14, :f :txn, :value [[:r 46 3] [:r 43 1] [:w 48 1] [:r 48 1] [:r 46 3] [:w 48 2]]}
{:index 114, :time 21981589866, :type :invoke, :process 15, :f :txn, :value [[:r 48 nil] [:r 48 nil] [:r 48 nil] [:r 48 nil] [:w 48 3]]}
{:index 115, :time 21986247652, :type :ok, :process 15, :f :txn, :value [[:r 48 2] [:r 48 2] [:r 48 2] [:r 48 2] [:w 48 3]]}
{:index 116, :time 22136378847, :type :invoke, :process 16, :f :txn, :value [[:w 50 1] [:w 50 2] [:r 43 nil] [:r 43 nil] [:r 32 nil] [:w 50 3] [:r 50 nil]]}
{:index 117, :time 22143224589, :type :ok, :process 16, :f :txn, :value [[:w 50 1] [:w 50 2] [:r 43 1] [:r 43 1] [:r 32 nil] [:w 50 3] [:r 50 3]]}
{:index 118, :time 22203476196, :type :invoke, :process 17, :f :txn, :value [[:r 43 nil] [:r 50 nil] [:r 50 nil] [:r 32 nil] [:w 43 2] [:r 50 nil] [:w 51 1] [:w 52 1]]}
{:index 119, :time 22210397854, :type :ok, :process 17, :f :txn, :value [[:r 43 1] [:r 50 3] [:r 50 3] [:r 32 nil] [:w 43 2] [:r 50 3] [:w 51 1] [:w 52 1]]}
{:index 120, :time 22342667055, :type :invoke, :process 18, :f :txn, :value [[:w 52 2] [:w 52 3] [:r 52 nil] [:r 49 nil]]}
{:index 121, :time 22347687382, :type :ok, :process 18, :f :txn, :value [[:w 52 2] [:w 52 3] [:r 52 3] [:r 49 nil]]}
{:index 122, :time 22507851692, :type :invoke, :process 19, :f :txn, :value [[:r 52 nil] [:r 32 nil] [:r 51 nil] [:r 52 nil] [:w 51 2] [:w 49 1] [:r 51 nil] [:w 53 1]]}
{:index 123, :time 22515202030, :type :ok, :process 19, :f :txn, :value [[:r 52 3] [:r 32 nil] [:r 51 1] [:r 52 3] [:w 51 2] [:w 49 1] [:r 51 2] [:w 53 1]]}
{:index 124, :time 22622707416, :type :invoke, :process 0, :f :txn, :value [[:r 51 nil] [:r 51 nil] [:r 51 nil] [:r 32 nil] [:w 53 2] [:w 53 3]]}
{:index 125, :time 22629030892, :type :ok, :process 0, :f :txn, :value [[:r 51 2] [:r 51 2] [:r 51 2] [:r 32 nil] [:w 53 2] [:w 53 3]]}
{:index 126, :time 22650287333, :type :invoke, :process 0, :f :txn, :value [[:r 53 nil] [:w 43 3] [:w 51 3] [:r 54 nil]]}
{:index 127, :time 22654920326, :type :ok, :process 0, :f :txn, :value [[:r 53 3] [:w 43 3] [:w 51 3] [:r 54 nil]]}
{:index 128, :time 22768885027, :type :invoke, :process 1, :f :txn, :value [[:r 54 nil] [:r 56 nil] [:r 54 nil] [:w 54 1] [:w 49 2]]}
{:index 129, :time 22775043541, :type :ok, :process 1, :f :txn, :value [[:r 54 nil] [:r 56 nil] [:r 54 nil] [:w 54 1] [:w 49 2]]}
{:index 130, :time 22824836711, :type :invoke, :process 2, :f :txn, :value [[:r 32 nil] [:w 56 1] [:r 54 nil] [:w 56 2]]}
{:index 131, :time 22829983728, :type :ok, :process 2, :f :txn, :value [[:r 32 nil] [:w 56 1] [:r 54 1] [:w 56 2]]}
{:index 132, :time 22986389515, :type :invoke, :process 3, :f :txn, :value [[:r 54 nil] [:w 56 3] [:r 54 nil] [:r 54 nil] [:r 56 nil] [:r 56 nil] [:w 55 1] [:w 54 2]]}
{:index 133, :time 22995048450, :type :ok, :process 3, :f :txn, :value [[:r 54 1] [:w 56 3] [:r 54 1] [:r 54 1] [:r 56 3] [:r 56 3] [:w 55 1] [:w 54 2]]}
{:index 134, :time 23026713114, :type :invoke, :process 4, :f :txn, :value [[:w 49 3] [:r 54 nil] [:w 57 1] [:w 55 2] [:w 55 3] [:w 54 3]]}
{:index 135, :time 23032980788, :type :ok, :process 4, :f :txn, :value [[:w 49 3] [:r 54 2] [:w 57 1] [:w 55 2] [:w 55 3] [:w 54 3]]}
{:index 136, :time 23138852680, :type :invoke, :process 5, :f :txn, :value [[:w 57 2] [:r 55 nil] [:w 32 1] [:r 54 nil] [:r 57 nil] [:r 57 nil] [:r 58 nil]]}
{:index 137, :time 23145211007, :type :ok, :process 5, :f :txn, :value [[:w 57 2] [:r 55 3] [:w 32 1] [:r 54 3] [:r 57 2] [:r 57 2] [:r 58 nil]]}
{:index 138, :time 23225911632, :type :invoke, :process 6, :f :txn, :value [[:r 55 nil] [:w 58 1] [:w 58 2] [:w 58 3]]}
{:index 139, :time 23229929961, :type :ok, :process 6, :f :txn, :value [[:r 55 3] [:w 58 1] [:w 58 2] [:w 58 3]]}
{:index 140, :time 23397543714, :type :invoke, :process 7, :f :txn, :value [[:r 57 nil] [:r 49 nil] [:r 58 nil] [:r 49 nil] [:r 59 nil]]}
{:index 141, :time 23403068148, :type :ok, :process 7, :f :txn, :value [[:r 57 2] [:r 49 3] [:r 58 3] [:r 49 3] [:r 59 nil]]}
{:index 142, :time 23448078658, :type :invoke, :process 8, :f :txn, :value [[:w 59 1] [:w 59 2] [:w 59 3] [:r 59 nil]]}
{:index 143, :time 23452695099, :type :ok, :process 8, :f :txn, :value [[:w 59 1] [:w 59 2] [:w 59 3] [:r 59 3]]}
{:index 144, :time 23534944714, :type :invoke, :process 9, :f :txn, :value [[:r 60 nil] [:w 57 3] [:r 60 nil] [:w 60 1]]}
{:index 145, :time 23539101466, :type :ok, :process 9, :f :txn, :value [[:r 60 nil] [:w 57 3] [:r 60 nil] [:w 60 1]]}
{:index 146, :time 23657394590, :type :invoke, :process 10, :f :txn, :value [[:w 60 2] [:r 62 nil] [:w 60 3] [:r 62 nil] [:r 60 nil]]}
{:index 147, :time 23660780236, :type :invoke, :process 11, :f :txn, :value [[:r 62 nil] [:r 60 nil] [:r 60 nil] [:w 62 1] [:r 61 nil]]}
{:index 148, :time 23662200857, :type :ok, :process 10, :f :txn, :value [[:w 60 2] [:r 62 nil] [:w 60 3] [:r 62 nil] [:r 60 3]]}
{:index 149, :time 23664726490, :type :ok, :process 11, :f :txn, :value [[:r 62 nil] [:r 60 1] [:r 60 1] [:w 62 1] [:r 61 nil]]}
{:index 150, :time 23814877807, :type :invoke, :process 12, :f :txn, :value [[:w 61 1] [:r 64 nil] [:w 61 2] [:w 64 1]]}
{:index 151, :time 23820044310, :type :ok, :process 12, :f :txn, :value [[:w 61 1] [:r 64 nil] [:w 61 2] [:w 64 1]]}
{:index 152, :time 24004308402, :type :invoke, :process 13, :f :txn, :value [[:w 32 2] [:r 64 nil] [:r 32 nil] [:r 62 nil] [:w 62 2]]}
{:index 153, :time 24009955615, :type :ok, :process 13, :f :txn, :value [[:w 32 2] [:r 64 1] [:r 32 2] [:r 62 1] [:w 62 2]]}
{:index 154, :time 24155907437, :type :invoke, :process 14, :f :txn, :value [[:r 64 nil] [:w 64 2] [:w 64 3] [:r 64 nil] [:r 63 nil] [:r 65 nil] [:r 65 nil]]}
{:index 155, :time 24162496446, :type :ok, :process 14, :f :txn, :value [[:r 64 1] [:w 64 2] [:w 64 3] [:r 64 3] [:r 63 nil] [:r 65 nil] [:r 65 nil]]}
{:index 156, :time 24228200974, :type :invoke, :process 15, :f :txn, :value [[:r 65 nil] [:w 65 1] [:r 65 nil] [:r 65 nil] [:w 62 3]]}
{:index 157, :time 24234327640, :type :ok, :process 15, :f :txn, :value [[:r 65 nil] [:w 65 1] [:r 65 1] [:r 65 1] [:w 62 3]]}
{:index 158, :time 24386088985, :type :invoke, :process 16, :f :txn, :value [[:w 65 2] [:r 62 nil] [:w 65 3] [:r 61 nil] [:r 66 nil] [:r 66 nil]]}
{:index 159, :time 24393190273, :type :ok, :process 16, :f :txn, :value [[:w 65 2] [:r 62 3] [:w 65 3] [:r 61 2] [:r 66 nil] [:r 66 nil]]}
{:index 160, :time 24433934871, :type :invoke, :process 17, :f :txn, :value [[:r 61 nil] [:w 66 1] [:w 66 2] [:r 66 nil] [:r 66 nil] [:r 66 nil] [:r 66 nil]]}
{:index 161, :time 24438766560, :type :ok, :process 17, :f :txn, :value [[:r 61 2] [:w 66 1] [:w 66 2] [:r 66 2] [:r 66 2] [:r 66 2] [:r 66 2]]}
{:index 162, :time 24460627399, :type :invoke, :process 18, :f :txn, :value [[:r 67 nil] [:w 66 3] [:r 61 nil] [:r 66 nil] [:w 63 1]]}
{:index 163, :time 24464696153, :type :ok, :process 18, :f :txn, :value [[:r 67 nil] [:w 66 3] [:r 61 2] [:r 66 3] [:w 63 1]]}
{:index 164, :time 24505412326, :type :invoke, :process 19, :f :txn, :value [[:r 66 nil] [:r 66 nil] [:r 67 nil] [:r 61 nil] [:r 61 nil] [:w 68 1]]}
{:index 165, :time 24509580043, :type :ok, :process 19, :f :txn, :value [[:r 66 3] [:r 66 3] [:r 67 nil] [:r 61 2] [:r 61 2] [:w 68 1]]}
{:index 166, :time 24692566482, :type :invoke, :process 0, :f :txn, :value [[:w 67 1] [:w 68 2] [:w 68 3] [:r 61 nil]]}
{:index 167, :time 24697555242, :type :ok, :process 0, :f :txn, :value [[:w 67 1] [:w 68 2] [:w 68 3] [:r 61 2]]}
{:index 168, :time 24833305780, :type :invoke, :process 0, :f :txn, :value [[:r 68 nil] [:r 32 nil] [:r 61 nil] [:w 69 1] [:r 63 nil]]}
{:index 169, :time 24838919959, :type :ok, :process 0, :f :txn, :value [[:r 68 3] [:r 32 2] [:r 61 2] [:w 69 1] [:r 63 1]]}
{:index 170, :time 24918643244, :type :invoke, :process 1, :f :txn, :value [[:r 69 nil] [:w 67 2] [:r 67 nil] [:w 67 3] [:r 67 nil] [:w 69 2] [:w 69 3]]}
{:index 171, :time 24924855954, :type :invoke, :process 2, :f :txn, :value [[:r 67 nil] [:r 61 nil] [:w 61 3] [:r 61 nil]]}
{:index 172, :time 24925958382, :type :ok, :process 1, :f :txn, :value [[:r 69 1] [:w 67 2] [:r 67 2] [:w 67 3] [:r 67 3] [:w 69 2] [:w 69 3]]}
{:index 173, :time 24928935533, :type :ok, :process 2, :f :txn, :value [[:r 67 3] [:r 61 2] [:w 61 3] [:r 61 3]]}
{:index 174, :time 25037700982, :type :invoke, :process 3, :f :txn, :value [[:r 70 nil] [:r 70 nil] [:w 63 2] [:w 70 1] [:w 70 2] [:r 32 nil] [:r 70 nil]]}
{:index 175, :time 25045293526, :type :ok, :process 3, :f :txn, :value [[:r 70 nil] [:r 70 nil] [:w 63 2] [:w 70 1] [:w 70 2] [:r 32 2] [:r 70 2]]}
{:index 176, :time 25236897345, :type :invoke, :process 4, :f :txn, :value [[:r 67 nil] [:w 70 3] [:r 67 nil] [:w 73 1] [:r 71 nil] [:w 73 2] [:w 71 1]]}
{:index 177, :time 25244291123, :type :ok, :process 4, :f :txn, :value [[:r 67 3] [:w 70 3] [:r 67 3] [:w 73 1] [:r 71 nil] [:w 73 2] [:w 71 1]]}
{:index 178, :time 25392185487, :type :invoke, :process 5, :f :txn, :value [[:r 71 nil] [:r 71 nil] [:w 73 3] [:w 71 2] [:w 71 3] [:r 73 nil] [:r 74 nil] [:r 74 nil]]}
{:index 179, :time 25399138783, :type :ok, :process 5, :f :txn, :value [[:r 71 1] [:r 71 1] [:w 73 3] [:w 71 2] [:w 71 3] [:r 73 3] [:r 74 nil] [:r 74 nil]]}
{:index 180, :time 25491688583, :type :invoke, :process 6, :f :txn, :value [[:r 63 nil] [:r 32 nil] [:w 74 1] [:w 63 3]]}
{:index 181, :time 25496373188, :type :ok, :process 6, :f :txn, :value [[:r 63 2] [:r 32 2] [:w 74 1] [:w 63 3]]}
{:index 182, :time 25595481548, :type :invoke, :process 7, :f :txn, :value [[:r 72 nil] [:w 74 2] [:r 74 nil] [:r 74 nil] [:w 74 3] [:r 76 nil] [:r 76 nil]]}
{:index 183, :time 25601915512, :type :ok, :process 7, :f :txn, :value [[:r 72 nil] [:w 74 2] [:r 74 2] [:r 74 2] [:w 74 3] [:r 76 nil] [:r 76 nil]]}
{:index 184, :time 25755328096, :type :invoke, :process 8, :f :txn, :value [[:r 76 nil] [:w 76 1] [:w 75 1] [:w 75 2] [:r 75 nil] [:w 75 3] [:w 76 2] [:w 76 3]]}
{:index 185, :time 25763014297, :type :ok, :process 8, :f :txn, :value [[:r 76 nil] [:w 76 1] [:w 75 1] [:w 75 2] [:r 75 2] [:w 75 3] [:w 76 2] [:w 76 3]]}
{:index 186, :time 25902189525, :type :invoke, :process 9, :f :txn, :value [[:r 76 nil] [:r 76 nil] [:r 72 nil] [:w 77 1] [:r 77 nil] [:r 77 nil] [:w 78 1]]}
{:index 187, :time 25907721362, :type :ok, :process 9, :f :txn, :value [[:r 76 3] [:r 76 3] [:r 72 nil] [:w 77 1] [:r 77 1] [:r 77 1] [:w 78 1]]}
{:index 188, :time 26009210297, :type :invoke, :process 10, :f :txn, :value [[:w 77 2] [:w 77 3] [:r 77 nil] [:w 79 1] [:r 79 nil] [:w 78 2]]}
{:index 189, :time 26015500320, :type :invoke, :process 11, :f :txn, :value [[:r 72 nil] [:r 79 nil] [:r 79 nil] [:w 72 1] [:r 79 nil] [:r 79 nil] [:r 78 nil]]}
{:index 190, :time 26016003030, :type :ok, :process 10, :f :txn, :value [[:w 77 2] [:w 77 3] [:r 77 3] [:w 79 1] [:r 79 1] [:w 78 2]]}
{:index 191, :time 26019462638, :type :ok, :process 11, :f :txn, :value [[:r 72 nil] [:r 79 1] [:r 79 1] [:w 72 1] [:r 79 1] [:r 79 1] [:r 78 2]]}
